.root {
  padding: calc(var(--mantine-spacing-xl) * 1.5);
}
:global(.mantine-InputWrapper-root)
{
    margin-top: 20px;
}
  .mantine-SimpleGrid-root
  {
    width: 60%;
    margin-top: 20px;
  }
  .value {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
  }
  
  .diff {
    line-height: 1;
    display: flex;
    align-items: center;
  }
  
  .icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  }
  
  .title {
    font-weight: 700;
    text-transform: uppercase;
  }
  .pickerWrapper
  {
    width: 240px;
    margin-bottom: 20px;
  }
  .subHeading
  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }