.menuList
{
    width: 18vw;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    border-right: 2px solid #dee2e6; 
 :global(.mantine-Divider-root)
 {
  height: 2vw;
 } 
 .linkWrapper
{
  width: 100%;
  height: 50%;
  align-self: flex-start;   
.menuItem
{
 text-align: left;
 border-radius: 4px;
 padding-left: 40px;
 padding: 10px 20px;
 gap: 15px;
 margin-top: 6px;
 font-size: 12px;
:global(.mantine-NavLink-section)
{
  width: 1.4rem;
  height: 1.4rem;
}

}
}       
.logoWrapper
{
  width: 100%;
  left: 10px;
  object-fit: cover;
  height: 30px;
  margin: 30px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  gap: 10px;
  .logoimgWrapper
  {
    width: 30px;
    height: auto;
    object-fit: cover;
  }
  h4
{
  margin-top: 25px;
  flex-basis: 2/3;
}  
img
{
  width: 30px;
  height: auto;
}
} 
     
.logButton
{
  width: 100%;
}    
.roundedButton
{
  width: 100%;
  height: 60px;
  display: flex;
  position: absolute;
  font-size: 12px;
  justify-content:space-between;
  padding: 10px 20px;
  align-items: center;
  gap: 20px;
  bottom: 0px;
  .group
  {
     width: auto;
     display: flex;
     align-items: center;
     gap: 10px;
  }
  h3
 {
  font-weight: 500;
 } 
}
.usericon
{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
img
{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
}
}